{% extends 'projectMgr/base.html' %}

{% block leftnav %}
<li class="active"><a href="{% url 'projectMgr:projectDetail' project.id %}" ><span class="glyphicon glyphicon-th-large"></span> {{project.name}}</a></li>
<li><a href="{% url 'projectMgr:projectDetailEdit' project.id  %}" ><span class="glyphicon glyphicon-cog"></span></a></li>

{% endblock %}

{% block tabButton %}
<div class="leftTabElement"><a href="{% url 'projectMgr:projectDetail' project.id %}" ><h3>{{project.name}}</h3></a>
            </div>
  <div class="leftTabElement"><a href="{% url 'projectMgr:projectDetailEdit' project.id  %}" ><h3>Edit</h3></a>
            </div>
{% endblock %}

{% block heading %}
    <h4 style="display: inline-block"><span class="glyphicon glyphicon-th-large"></span> Project</h4>
    <h3 style="display: inline-block;margin-right: 10px" > {{ project.name }} <h5 style="display: inline-block"><a href="{% url 'projectMgr:projectDetailEdit' project.id %}"> <i class="glyphicon glyphicon-pencil"></i></a> </h5></h3>
    <hr>
{% endblock %}

{% block body %}
    <h4 style="display: inline-block;margin-right: 10px" >Description <h5 style="display: inline-block"><a href="{% url 'projectMgr:projectDetailEdit' project.id %}"> <i class="glyphicon glyphicon-pencil"></i></a> </h5></h4>
    <div >
    <p>{{ project.description }}</p>
    </div>

    <hr>

    {% load crispy_forms_tags %}
    <form action="{% url 'projectMgr:projectDetailComment' project.id %}" method="post">
    {% csrf_token %}

{{ commentForm|crispy }}
{#        {{ commentForm.text|as_crispy_field }}#}
    <input type="submit" class="btn btn-success" value="Post">

    </form>

    <hr>
     <p><span class="badge">{{nocomm }}</span> Comments <span class="glyphicon glyphicon-comment"></span></p><br>

    {% load static %}

    {% for comment in commentSet %}

    <div class="row">
        <div class="col-sm-2 text-center">
            {% if comment.createdBy.profilePicture != None %}

            <img src={{ comment.createdBy.profilePicture }}  height="65" width="65" style=" border-radius: 5px" alt="">
            {% else %}
                <img src="{% static 'projectMgr/images/default_user.png' %}"  height="65" width="65" style=" border-radius: 5px" alt="">
            {% endif %}
        </div>
        <div class="col-sm-10">
            <h4>
                {% if comment.createdBy == thisUser %}
                Me
                {% else %}
                {{ comment.createdBy.username }}
                {% endif %}
                <small>{{comment.createdOn}}</small></h4>
            {% if comment.deleted %}
            <p style="color: gray">This comment was deleted</p>
            {% else %}
            <p>{{ comment.textField }}</p>
                {% if comment.createdBy == thisUser %}
                     <a href="{% url 'projectMgr:projectDeleteComment' project.id comment.id %}" ><span class="glyphicon glyphicon-minus-sign"></span></a>
                    {% endif %}
            {% endif %}

        </div>
        </div>
        <hr>


    {% endfor %}

{#<hr>#}
    {% load activity_tags i18n %}
{#    {% follow_url project %}#}
{#    <h4>Activity <a href="{% follow_url project %}">#}
        <h4>Activity <a href="{% url 'projectMgr:followProject' project.id %}">
    {% if thisUser|is_following:project %}
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
</svg>
    {% else %}
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2z"/>
  <path fill-rule="evenodd" d="M8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
</svg>
    {% endif %}
</a></h4>
{#    {% activity_stream 'actor' thisUser %}#}
    <table class="table">
  <thead class="thead-light">

  </thead>
  <tbody>

  {% for action in stream %}
      <tr>

{#   <td>{% display_action action %}</td>#}
      <td>{{action.actor}} {{ action.verb }} <a href="{% url 'projectMgr:projectDetail' project.id %}">{{ action.target.name }}</a> {{ action.timestamp }}</td>

    </tr>

  {% endfor %}

  </tbody>
</table>


{% endblock %}

{% block sidenav %}
    <a href="{% url 'projectMgr:createTaskGroup' project.id%}" class="btn btn-primary">Task Group <span class="glyphicon glyphicon-plus"></span> </a>
   <hr>
            {% for task in project.taskgroup_set.all %}

                <p><a style="margin: 3px"  href="{% url 'projectMgr:taskGroupDetail' projectid=project.id taskGroupId=task.id %}"><span class="glyphicon glyphicon-th"></span> {{ task.name }}</a></p>

        {% endfor %}
    <br>

      <a href="{% url 'projectMgr:chooseProjectMates' project.id %}" class="btn btn-primary">Project Team <span class="glyphicon glyphicon-plus"></span> </a>
   <hr>
            {% for person in project.people.all %}
            {% if person == thisUser %}
                            <p><a style="margin: 3px"  href=""><span class="glyphicon glyphicon-user"></span> Me</a></p>

                {% else %}
            <p><a style="margin: 3px"  href=""><span class="glyphicon glyphicon-user"></span> {{ person.username }}</a></p>
                {% endif %}
        {% endfor %}
    <br>

{% endblock %}
