{%  extends "projectMgr/base.html" %}


{% block body %}
{% if user.task_set.count > 0 %}
 <h4>Tasks <span class="glyphicon glyphicon-th-list"></span></h4>
    <table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Task</th>
      <th scope="col">Priority</th>
        <th scope="col">Description</th>

    </tr>
  </thead>
  <tbody>

     {% for task in user.task_set.all %}

              <tr>

          <th scope="row">
              <a href="{% url 'projectMgr:projectDetail' task.taskGroup.project.id %}">{{ task.taskGroup.project.name }}</a>
          </th>

      <td>
      <a href="{% url 'projectMgr:taskDetail' task.taskGroup.project.id task.taskGroup.id task.id %}">{{ task.name }}</a>

      </td>
      <td>
          {{ task.priority }}
      </td>
              <td>
                  {{ task.description }}
              </td>
    </tr>

        {% endfor %}

  {% else %}

    <h5>Your tasks will appear here <span class="glyphicon glyphicon-th-list"></span></h5>

  {% endif %}


  </tbody>
</table>
<hr>

   <h5>Notifications <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bell-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
</svg></h5>


{% load activity_tags i18n %}

          <table class="table">
  <thead class="thead-light">

  </thead>
  <tbody>

    {% for messages in listSet %}
{#        {% for message in messages %}#}
{#            {% display_action message %}#}
{#            {% endfor %}#}



  {% for message in messages %}
      <tr>

      {% if message.action_object %}
   <td>{{message.actor}} {{ message.verb }} {{ message.action_object.name }} in {{ message.target.name }} <small style="color: #777777">{{ message.timestamp }}</small> </td>
      {% else %}
   <td>{{message.actor}} {{ message.verb }} {{ message.target.name }} <small style="color: #777777">{{ message.timestamp }}</small></td>
      {% endif %}

    </tr>

  {% endfor %}


    {% endfor %}
{#    {% for followingObject in following %}#}
{#    followingObject.name#}
{#    {% endfor %}#}


  </tbody>
</table>
{% endblock %}

{% block sidenav %}

    <a href="{% url 'projectMgr:projectCreate' %}" class="btn btn-primary">Project <span class="glyphicon glyphicon-plus"></span> </a>

            <hr>
        {% for project in user.project_set.all %}

            <p><a style="margin: 3px"  href="{% url 'projectMgr:projectDetail' project.id %}">{{ project.name }} <span class="glyphicon glyphicon-th-large"></span></a></p>

        {% endfor %}
{% endblock %}


{% block sidebar %}

     <form action="{% url 'projectMgr:projectCreate' %}">
        <div class="sidebarHead"> Projects
        <input class="add" type="submit" value="+">
        </div>
    </form>




        {% for project in user.project_set.all %}

            <a  class="sidebarText" href="{% url 'projectMgr:projectDetail' project.id %}">{{ project.name }}</a>



        {% endfor %}



{% endblock %}

